.contact {
    max-width: 1440px;
    /* viewport-fit: 100; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto 123px; 
}

.contact-text {
    width: 445px;
    margin: 117px 114px auto 176px;
}

.contact-title {
    text-align: left;
    height: 107px;
}

.contact__fill-form {
    display: grid;
    grid-gap: 20px;
    margin-top: 117px;
    margin-right: 165px;
    width: 540px;
    grid-template-columns: 1fr 1fr;
}

/* .contact__personal {
    width: 540px;
    height: 60px;
    display: flex;
    justify-content: space-between;
} */

.contact__fill-box {
    border: 1px solid rgba(51, 51, 51, 1);
    color: rgba(19, 39, 67, 0.5);
    border-radius: 6px;
    height: 60px;
    padding-left: 21px;
    outline: none;
    box-sizing: border-box;
    } 

    .contact__fill-box:focus {
        border-color: chartreuse;
    }


.contact__fill-box_personal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}

.contact__personal {
    display: flex;
    align-items: center;
    padding-left: 31px;
    width: 41%;
    border: solid 1px;
    border-color: rgba(51, 51, 51, 1);
    color: rgba(19, 39, 67, 0.5);
    border-radius: 6px;
    height: 60px;
}

.contact-action {
    background: rgba(237, 76, 92, 1);
    color: white;
    
}
