.header{
    position: absolute;
    width: 100%;
}

.header-content{

    max-width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header_logo_img{
    width: 172px;
}

.header-links{
    width: 445px;
    height: 22px;
    top: 58px;
    left: 498px;
   /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*display: block;
    /*align-items: center;*/
    }

.header-linkslist{
    display: flex;
    justify-content: space-between;
}

.header-linklist__link{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.languages{
    position: relative;
}

.button{
    width: 99px;
    height: 39px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #FFFFFF;
}

.languages-bar{
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
}

.languages-flag{
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.languages-coutry{
    line-height: 17px;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 12px;
}

.languages-bar:after{
    content: "";
    width: 0; 
    height: 0;
    border-left: 6px solid transparent;
    border-right:6px solid transparent;
    border-top: 7px solid #ffffff;
    margin-left: 12px;
    position: relative;
    top: 1px
}

.languages:hover .languages-list{
    opacity: 1;
}

.languages-item{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.languages-list{
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    opacity: 0;
}

.languages-item .languages-coutry{
    color:black;
}

.languages-item:last-child{
    margin-bottom: 0;
}