.hero{
    height: 782px;
    background: url("/img/Rectangle 3.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-content{
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hero-name{
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0.05em;
    color:#FFFFFF;
    text-transform: uppercase;
}

.hero-description{
    letter-spacing: 0.5px;
    font-size: 24px;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
    /* margin: 39px 450px 39px 450px; */
    margin-top: 39px;
    margin-bottom: 39px;
    max-width: 540px;
    /* display: inline; */
    }
    
.hero-action{
    background-color: #fff;
    padding: 0 52px;
    height: 50px;
    border-radius: 6px;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #ED4C5C;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}