body{
    font-family: Lato, sans-serif;
    margin: 0;
}

button{
    font-family: Lato, sans-serif;
}

.action {
    /* padding: 0 52px; */
    max-width: 160px;
    height: 50px;
    border-radius: 6px;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.title{
    font-size: 36px;
    line-height: 43.2px;
    text-align: center;
}

.title-description{
    font-size: 14px;
    text-align: justify;
    line-height: 19.6px;
}

.subtitle{
    font-size: 18px;
    font-weight: bold;
    line-height: 21,6px;
    text-align: center;
}

.subtitle__description{
    font-size: 12px;
    line-height: 14,4px;
}
